@import "variables.scss";

.btn {
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
    background-color: $green-medium;

    text-transform: uppercase;
    color: $grey-lowest;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;

    margin: 4px 8px 4px 0;
    height: 30px;
    cursor: pointer;
}

.btn:hover {
    background-color: $green-high;
}

.btn-max-width {
    width: 100%;
}

.btn-secondary {
    background-color: transparent;
    color: $white-medium;
    border: 1px solid $white-medium;
    transition: all 0.5s;
}

.btn-secondary:hover {
    background-color: transparent;
    color: $white-high;
    border-color: $white-high;
}

.btn-secondary.selected {
    background-color: $white-high;
    border-color: $white-low;
    color: $grey-lowest;
    transition: all 0.2s;
}