@import "variables.scss";
@import "buttons.scss";
@import "side-menu.scss";
@import "popup.scss";
@import "scrollbar.scss";
@import "workspace.scss";

#layout-body {
    height: 100%;
}

#layout-container {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 4px auto;      // Menu, resize-border, workspace
}

#layout-menu {
    height: 100%;
}

#layout-workspace {
    height: calc(100% - 16px);
    background-color: $grey-low;
    overflow: auto;
    padding: 8px;
}

.resize-border-v {
    width: 4px;
    cursor: w-resize;
    height: 100%;
    background-color: $grey-low;
}

.d-inline-block {
    display: inline-block;
}

.no-line-break {
    white-space: nowrap;
}