@import "variables.scss";

.matrix table {
    border-collapse: collapse;
    font-size: 0.8rem;
}

.matrix .mm-label-cell {
    background-color: $grey-medium;
    color: $white-medium
}

.matrix .mm-add-cell {
    color: $green-medium;
    cursor: pointer;
    font-weight: bold;
}

.matrix .mm-add-cell:hover {
    color: $green-high;
}

.matrix td {
    padding: 5px;
    border: 1px solid $white-low;
}

.cellForm {
    background-color: transparent;
    outline: none;
    border: none;
    color: $white-high;
    font-size: 1rem;
    resize: none;
    font-family: 'Barlow';
}