@import "variables.scss";

.matrix table {
    border-collapse: collapse;
    font-size: 0.8rem;
    table-layout: fixed;
}

.matrix .mm-label-cell {
    background-color: $grey-medium;
    color: $white-medium;
    height: 15px;
    min-height: 15px;
}

.matrix .mm-add-cell {
    color: $green-medium;
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
}

.matrix .mm-add-cell:hover {
    color: $green-high;
}

.matrix td {
    padding: 4px;
    border: 1px solid $white-low;
    position: relative;
    vertical-align: top;
    width: 140px;
    height: 50px;
    min-width: 140px;
    min-height: 50px;
}

.matrix .hover-overlay {
    background-color: transparentize($color: $grey-low, $amount: 0.4);
    position: absolute;
    display: inline-block;
    height: 13px;
    bottom: 4px;
    right: 4px;
    font-size: 1rem;
    text-align: right;
}

.matrix .hover-overlay:hover {
    background-color: transparentize($color: $grey-low, $amount: 0.1);
}

.matrix .hover-overlay .overlay-icon {
    cursor: pointer;
    color: $white-medium;
}

.matrix .hover-overlay .overlay-icon:hover {
    color: $white-high;
}

.cell-form {
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    color: $white-high;
    font-size: 1rem;
    resize: none;
    font-family: 'Barlow';
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.cell-form.func-req {
    color: $cyan-high;
    font-weight: bold;
}