/* Colors */
$white-high:    rgba(255,255,255,0.87);
$white-medium:  rgba(255,255,255,0.60);
$white-low:     rgba(255,255,255,0.38);

$grey-highest:  #454545;
$grey-high:     #333333;
$grey-medium:   #252525;
$grey-low:      #121212;
$grey-lowest:   #101010;

$green-high:    hsl(120,50,50);
$green-medium:  hsl(120, 50, 40);
$green-low:     hsl(120, 50, 30);

$cyan-high:     hsl(180, 50, 50);
$cyan-medium:   hsl(180, 50, 40);
$cyan-low:      hsl(180, 50, 30);

$red-high:      rgb(255,0,0);