/* Colors */
$white-high:    hsl(0, 0%, 87%);
$white-medium:  hsl(0, 0%, 60%);
$white-low:     hsl(0, 0%, 38%);

$grey-highest:  hsl(0, 0%, 24%);
$grey-high:     hsl(0, 0%, 20%);
$grey-medium:   hsl(0, 0%, 16%);
$grey-low:      hsl(0, 0%, 12%);
$grey-lowest:   hsl(0, 0%, 7%);

$green-high:    #44dc11;
$green-medium:  #11dc44;
$green-low:     hsl(120, 50, 20);

$cyan-high:     hsl(165, 86%, 46%);
$cyan-medium:   hsl(165, 86%, 40%);
$cyan-low:      hsl(165, 86%, 30%);

$blue-high:     hsl(220, 80%, 63%);
$blue-medium:   hsl(220, 70%, 55%);
$blue-low:      hsl(220, 60%, 35%);

$red-high:      rgb(255,0,0);

$purple-high:   #8a00ac;